<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/mystyle.css">
    </head>

    <body>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/addData">Add Data</a></li>
            <li><a href="/viewData">View Data</a></li>
            <li><a href="/viewBuy">Bought Items</a></li>
            <li><a href="/viewBuyUsers">My Items</a></li>
            <li style="float:right"><a href="/myLogOut">LogOut</a></li>
           <!-- <li style="float:right"><a href="#about">About</a></li> -->
        </ul>
        <br />
        <br />
        <br />


                

        <center> 
            <h1>Welcome, <%= myLoggedUser %> </h1>
            <h3>To the E-Commerce WebSite built on NodeJS</h3> 
            <h4>Click on Top Menu items to get started</h4>             
        </center>
    </body>
</html>
